
html {
    font-size: 1em;
    font-family: 'Comfortaa', cursive;
    color: rgb(31, 31, 31);
    line-height: 1.4em;
}

canvas {
      float: left;
      margin: 20px;
}

body {
    position: relative;
    background-color: rgb(82, 140, 163);
}

button {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
}


h1 {
    padding: 0.2em;
    font-size: 1.2em;
    max-width: 200px;
    margin: auto;
}

h2 {
    font-size: 1.2em;
}








